<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Respuestas</title>
</head>
<body>
    <div>
        <br>
        <a href="/respuestas/respuestaAnadir" class="btn btn-primary">Crear</a>
        <table class="tablaIndex table table-striped">
            <thead>
            <tr>
                <td><b>Usertag</b></td>
                <td><b>tiempo</b></td>
                <td><b>puntuacion</b></td>
                <td colspan="2"><b>Action</b></td>
            </tr>
            </thead>
            <tbody>
            <% for(var i=0; i < respuestas.length; i++) { %>
            <tr>
                <td><%= respuestas[i].usertag %></td>
                <td><%= respuestas[i].tiempo %></td>
                <td><%= respuestas[i].puntuacion %></td>
                <td><a href="/respuestas/editar/<%= respuestas[i]._id %>" class="btn btn-primary">Editar</a></td>
                <td><a href="/respuestas/eliminar/<%= respuestas[i]._id %>" class="btn btn-danger">Eliminar</a></td>
            </tr>
            <% } %>
            </tbody>
        </table>
    </div>
    <script>
        respuestas.sort((a,b) =>{
            return a.puntuacion - b.puntuacion;
        });

        respuestas.forEach((e) =>{
            console.log(`${e.usertag} ${e.timepo} ${e.puntuacion}`);
        });
    </script>
</body>
</html>